.listing {
    background-color: rgba(210, 211, 212, 1);
    display: grid;
    grid-template-rows: 200px 1fr 1fr;
    width: 230px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
}

.listing-img {
    height: 192px;
    width: auto;
}