.listing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.specials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(46, 45, 45, 1);
    padding: 2%;
    border-bottom: solid;
    border-color: antiquewhite;
    border-width: 2px;
}
.our-favorites {
    border-top: solid;
    border-color: antiquewhite;
    border-width: 2px;
}
.favorite-listings {
    justify-self: end;
}

.favorite-listings:hover {
    transform: scale(1.05);
}