.club-logo {
    position: absolute;
    left: 0;
    padding: 1rem;
    z-index: 99;
}

.nav-container {
    height: fit-content;
    left: 0;
    right: 0;
}

.carousel-container {
    height: 42vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}